/* Base Styles */
:root {
    font-size: 10px;
 }
 body {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 section {
    height: 1020px;
    width: 375px;
    border: 1px solid #ccc;
 }
 header {
    padding: 5px;
    border-bottom: 20px;
 }
 .search_bar {
    width: 85%;
    position: relative;
    display: flex;
 }
 .search {
    width: 100%;
    border: 3px solid #00b4cc;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    font-size: 1.25rem;
 }
 .search_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 36px;
    border: 1px solid #00b4cc;
    background: #00b4cc;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
 }
 .sign_in_button {
    border: none;
    background-color: #ffffff00;
    color: gray;
 }
 .flex_container {
    display: flex;
    flex-direction: column;
 }
 .first_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
 }
 .second_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }
 .third_row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 }

 .third_row_filter .third_row_sort {
    position: relative;
    display: inline-block;
 }
 /* dropdown button for filter and sort */

 .dropbtn {
   background-color: #ffffff00;
   color: gray;
   padding: 16px;
   font-size: 16px;
   border: none;
}
.dropbtn2 {
   background-color: #ffffff00;
   color: gray;
   padding: 16px;
   font-size: 16px;
   border: none;
}
.third_row_sort {
 position: relative;
display: inline-block;
}
.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f1f1f1;
   min-width: 160px;
   right: auto;
   z-index: 1;
}
.dropdown-content2 {
   display: none;
   position: absolute;
   background-color: #f1f1f1;
   min-width: 160px;
   right: 0;
   z-index: 1;
   float: right;
}
.dropdown-content a {
   float: none;
   color: black;
   padding: 5px 10px;
   text-decoration: none;
   display: block;
   text-align: left;
}
.dropdown-content2 a {
   color: black;
   padding: 5px 30px;
   text-decoration: none;
   display: block;
}
.category-list option {
   float: none;
   color: black;
   padding: 5px 10px;
   text-decoration: none;
   display: block;
   text-align: left;
}
.dropdown-content a:hover {
   background-color: #ccc;
}
.dropdown-content2 a:hover {
   background-color: #ccc;
}
.category-list option:hover {
   background-color: #ccc;
}

.third_row_filter:hover .dropdown-content {
   display: block;
}
.third_row_sort:hover .dropdown-content2 {
   display: block;
}
.categorySlideDown:hover .categroy-list {
   display: block;
}

 /* dropdown for the menu */
 .dropmenu {
    background-color: #ffffff00;
    color: gray;
    padding: 16px;
    font-size: 16px;
    border: none;
 }
 .dropdown-content3 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    right: auto;
    z-index: 1;
 }
 .dropdown-content3 a {
    float: none;
    color: black;
    padding: 5px 60px;
    text-decoration: none;
    display: block;
    text-align: left;
 }
 .dropdown-content3 a:hover {
    background-color: #ccc;
 }
  .second_row_dropmenu:hover .dropdown-content3 {
    display: block;
 }
 /* gallery item with buttons and image */
 .fourth_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
    padding-top: 2rem;
 }
 .gallery-item {
    position: relative;
    flex: 1 0 22rem;
    width: 100%;
    max-width: 400px;
 }
 .gallery-image {
    width: 100%;
    height: auto;
    cursor: pointer;
    opacity: 1;
    transition: .5s ease;
 }
 .gallery-item-icon {
    position: absolute;
    top: 0;
    right: 5%;
    opacity:0;
 }
 .gallery-item-icon li {
    display: inline-block;
    font-size: 3rem;
 }
 .gallery-item-edit {
    margin-right: 2rem;
 }
 .fa-pen-to-square,
 .fa-trash-can {
     color: black;
 }
 .gallery-item:hover img {
     opacity: .5;
 }
 .gallery-item:hover .gallery-item-icon {
     opacity: 1;
 }
 /* Gallery Section - info part*/
 .gallery-item-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2rem;
 }
 .gallery-item-originalprice {
    text-decoration: line-through;
 }
 .gallery-item-discountedprice {
    color: #ff5000;
 }