* {
    box-sizing: border-box;
    margin: 0;
}

@media screen and (max-width: 450px) {
    main {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .post-header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        padding: 10px;
    }

    .post-info {
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .post-user img {
        max-width: 50px;
    }

    .post-content {
        padding: 10px;
    }

    .post-main-content {
        text-align: justify;
    }

    .post-title {
        padding: 0 0 10px 10px;
    }

    .post-footer {
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
    }

    span i {
        font-size: 1.5em;
    }

    .add-comment {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 10px;
    }

    textarea {
        flex-grow: 4;
        height: 150px;
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 4px;
        resize: none;
    }

    input[type=button] {
        flex-grow: 1;
        height: 30%;
    }
}