* {
    box-sizing: border-box;
    margin: 0;
}

.post-header-options {
    display: flex;
    justify-content: space-between;
}

.post-options {
    display: flex;
    align-self: center;
}

@media screen and (max-width: 450px) {
    main {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .post-header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        padding: 10px 10px 0 10px;
    }

    .post-info {
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .post-user img, .comment-user img {
        max-width: 50px;
    }

    .post-content {
        padding: 10px;
    }

    .post-main-content {
        text-align: justify;
    }

    .post-title {
        padding: 10px 0px 0 ;
    }

    .post-footer {
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
    }

    .bigger-icons {
        font-size: 1.5em;
    }

    .smaller-icons {
        font-size: 0.7em;
    }

    form {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 10px;
    }

    textarea {
        flex-grow: 4;
        height: 150px;
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 4px;
        resize: none;
    }

    button {
        flex-grow: 1;
        height: 30%;
    }

    .comment-section {
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
    }

    .new-comment {
        display: flex;
    }

    .comment-header {
        padding: 10px;
    }

    .comment-user {
        align-self: center;
    }

    .comment-info {
        padding: 10px;
        text-align: justify;
        display: flex;
        flex-direction: column;
    }

    .comment-details {
        display: flex;
        justify-content: space-between;
        padding: 0 0 10px;
    }

    .tags {
        display: flex;
        justify-content: space-evenly;
    }

    .location-name, .category-name {
        display: inline-flex;
    }

    .post-main-content {
        display: flex;
        padding: 10px;
        flex-direction: column;
    }

    .price {
        display: flex;
    }

    .price-right-side {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 10px;
    }

    .discounted-price, .currency-sign {
        font-size: 3em;
    }

    .currency-sign {
        display: inline;
    }

    .discount {
        display: flex;
        align-content: space-evenly;
        background-color: yellow;
        max-width: fit-content;
    }

    .original-price {
        display: inline-flex;
        font-size: 0.7em;
    }

    .page-header {
        padding: 10px;
        display: flex;
        align-content: center;
        justify-content: space-between;
    }

    .sign_in_button {
        align-self: center;
        justify-self: end;
        max-width: fit-content;
    }

}