body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section {
    height: 1020px;
    width: 375px;
    border: 1px solid #ccc;
  }
  header {
    padding: 20px;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .form_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 100%;
  }
  .header_content {
    text-align: center;
  }
  .header_text {
    margin: 0;
    margin-bottom: 1rem;
  }
  .header_description {
    font-size: 0.75rem;
    margin-bottom: 20px;
  }
  .form_label {
    display: inline-block;
    margin-bottom: 0.25rem;
  }
  .border {
    display: block;
    width: 90%;
    border: 1px solid gray;
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  .log_in_button {
    display: block;
    width: 100%;
    background: gray;
    border: 0;
    border-radius: 0.25rem;
    padding: 0.5rem;
  }
  a {
    text-decoration: none;
    color: gray;
  }